{% extends "base.html" %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base_styles.css') }}">
<div class="container">
    <header id="head">
        <h1>Welcome To Plan Parser!</h1>
    </header>

    <div class="container" id="jumbo">
        <h3 class="jumbo">Introduction:</h3>
        <hr>
        <div class="container col-sm-8">
            <p>
                This application was built to allow users to have an interface 
                to process slcsp`s. An slcsp is a second lower cost silver plan.
                This application identifies the second lower cost silver plan for
                desired areas specified in input files.

                <p>The process works in the following way: </p> 
                <ol>
                    <li>Upload source files (zip codes, plans, and slcsp)</li>
                    <li>Validate and Process the files</li>
                    <li>Download the processed data as a csv.</li>
                </ol>

                Background on the problem can be found here: <a href="information">Background Info</a>
            </p>
        </div>
        
        <div id="begin" align="center">
            <a href=upload>
                <button type="button" class="btn btn-success">Begin Slcsp Process</button>
            </a>  
        </div>                 
    </div>

</div>


{% endblock %}