{% extends "base.html" %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base_styles.css') }}">
<div class="container" id="base">
    <header id="head">
        <h1>Let's Begin Parsing Plans</h1>
    </header>
    <div class="container" id="jumbo">
        {% include "plan_parsing/instruction.html" %}
        <h1>Files Have Been Processed!</h1>
        <h4>ERROR processing output file - Please enter an output name with .csv extension.</h4>
        <hr>
        <form action="download_files", method="POST">
            <div class="form-group row">
                <label for="file_output_name" class="col-sm-2 col-form-label">Output File Name: </label>
                <div class="col-sm-6">
                    <input name="file_output" class="form-control" type="text" placeholder="Enter full file name..." id="file_output_name">
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" id='file_output_button'>Download</button>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}