{% block instruction %}

<h3>Instructions:</h3>
<ol>
    <li>To being parsing plans please upload the following files:
        <ul>
            <li>The Zip Code csv (i.e. zips.csv)</li>
            <li>The Plan csv (i.e. plans.csv)</li>
            <li>The Desired Zip code csv (i.e. slcsp.csv)</li>
        </ul>
    </li>
    <li>
        Press the 'Begin Parsing' button to being processing steps.
    </li>
    <li>
        Press the 'Download' button when icon is ready to download results.
    </li>
</ol>
<hr>

{% endblock %}