{% extends "base.html" %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base_styles.css') }}">
<div class="container" id="base">
    <header id="head">
        <h1>Let's Begin Parsing Plans</h1>
    </header>
    <div class="container" id="jumbo">
        <h3>Instructions:</h3>
        <ol>
            <li>To being parsing plans please upload the following files:
                <ul>
                    <li>The Zip Code csv</li>
                    <li>The Plan csv</li>
                    <li>The Desired Zip code csv (i.e. slcsp.csv)</li>
                </ul>
            </li>
            <li>
                Press the 'Begin Parsing' button to being processing steps.
            </li>
            <li>
                Press the 'Download' button when icon is ready to download results.
            </li>
        </ol>
    </div>

</div>

{% endblock %}