{% extends "base.html" %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base_styles.css') }}">
<div class="container" id="base">
    <header id="head">
        <h1>Let's Begin Parsing Plans</h1>
    </header>
    <div class="container" id="jumbo">
        <h3>Instructions:</h3>
            <h5>To being parsing plans please upload the following files:</h5>
                <ul>
                    <li>The Zip Code csv (i.e. zips.csv)</li>
                    <li>The Plan csv (i.e. plans.csv)</li>
                    <li>The Desired Zip code csv (i.e. slcsp.csv)</li>
                </ul>
            
            <p>If you need sample files, please download the sample files zip below, and upload these files to app.</p> 
            <p>Sample Files can be found here: <a href="/sample_files" id="sample_file_dwnld">Sample Files</a></p>
        <hr>
        <h1>File Upload</h1>
        <form enctype="multipart/form-data" method="POST" action="upload">
            <div class="form-group row">
                <label for="file_upload" class="form-label">Upload Files</label>
                <div class="col-sm-6">
                    <input type="file" class="form-control" name="file_upload" id="file_upload" multiple>              
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" id="file_submit" disabled>Upload</button>
                </div>
            </div>
          </form>
          <script src="{{url_for('static', filename='enable_disable.js')}}"></script>
    </div>

</div>

{% endblock %}